.bb-container[b-gk2k7ekrg0] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    width: 500px;
    height: 500px;
    background-color: red;

    user-select: none;
}

    .bb-container > *[b-gk2k7ekrg0] {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 48px;

        border: 1px solid transparent;
    }

    .bb-container > *:hover[b-gk2k7ekrg0] {
        border: 1px solid black;
        cursor: pointer;
    }